<!DOCTYPE html>
{% extends 'books/base.html' %}
{% load static %}

{% block title %}Register Page{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}
<!--message-->
{% if messages %}
{% for message in messages %}
{% if message.tags == "error" %}
<div class="alert alert-danger">
    <p class="text-center">{{message|title}}</p>
    </div>
{% endif %}
{% endfor %}
{% endif %}

<div class="container">
    <form method="POST" class="form-group">
        {% csrf_token %}
        <h3 class="text-center" style="color:blue">Register</h3><br>
        <h3 class="text-center" style="color:blue"><img src="{% static 'images/form.png' %}" style="width:50px;height:50px"></h3><br>
        {{form}}<br>
        <input type="submit" class="btn btn-danger active" value="Login" id="login">
        </form>
    </div>


{% endblock content %}